@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rubik:ital@0;1&display=swap");

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  height: 100vh;
  --main-color: #e7fefe;
  --secondary-color: #106751;
  --accent-color: #00a97c;
  font-family: "Bungee Shade ", cursive;
  font-family: "Rubik", sans-serif;
  background: var(--main-color);
}
a {
  text-decoration: none;
}

/* LANDING PAGE */

.heroLandingPage {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "mt lo"
    "ws lo";
  margin-top: 5vh;
  min-height: 80vh;
}
.mainTitle {
  font-family: "Bungee Shade";
  color: var(--secondary-color);
  text-align: center;
  font-size: 9em;
  line-height: 140px;
  grid-area: mt;
}
.sentenceContainer {
  background-color: var(--accent-color);
  height: 50%;
  max-height: 120px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 22px;
  border: 25px double var(--main-color);
  grid-area: ws;
}
.welcomeSentence {
  text-align: center;
  font-family: "Rubik";
  font-style: italic;
  color: var(--main-color);
  font-size: 2rem;
  margin-bottom: 100px;
}
.logo {
  grid-area: lo;
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  margin: 13% auto auto 3%;
  border-radius: 50%;
}
.transitionButton {
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background: var(--secondary-color);
  padding: 20px;
  width: 100px;
  height: 100px;
}
.transitionButton:hover {
  width: 120px;
  height: 120px;
  border: 5px double var(--main-color);
}

/* EVENTS */

.headerContainer {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
    "lo ti pro"
    "lo sw pro";
}
.logoHeader {
  height: 300px;
  border-radius: 50%;
  grid-area: lo;
  margin: 20px auto;
}
.eventsTitle {
  font-size: 4rem;
  line-height: 40px;
  font-family: "Bungee Shade";
  color: var(--secondary-color);
  grid-area: ti;
  margin: 70px auto;
}
.profileContainer {
  margin: 20px auto;
  text-align: center;
  font-size: 1rem;
  grid-area: pro;
  color: var(--accent-color);
}
.profileContainer i {
  font-size: 5rem;
  color: var(--accent-color);
}
.switchPages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  grid-area: sw;
  border: 5px solid var(--secondary-color);
  border-radius: 40px;
  align-items: center;
  font-family: "Rubik";
  font-size: 1.3rem;
}

.incomingSwitchContainer {
  width: 50%;
  text-align: center;
  height: 100%;
  background: var(--main-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.incomingSwitchContainer a {
  color: var(--secondary-color);
}
.mapSwitchContainer {
  width: 50%;
  text-align: center;
  height: 100%;
  background: var(--secondary-color);
  border-radius: 40px;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapSwitchContainer a {
  color: var(--main-color);
}

.eventsFiltersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}
.eventsSubtitleBackground {
  background-color: var(--secondary-color);
  border-radius: 40px;
  width: 40%;
  height: 70px;
  text-align: center;
}
.eventsFiltersContainer h2 {
  font-family: "Bungee Shade";
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -15px;
  color: var(--main-color);
  letter-spacing: 5px;
}

.filterButton {
  border: none;
  background-color: var(--secondary-color);
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
}
.filterButton a i {
  color: var(--main-color);
}
.eventsContainer {
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
}
.leftSide {
  width: 35%;
  font-family: "Rubik";
}
.leftSide ul {
  margin: 0;
  padding: 0;
}
.eventContainer {
  margin-top: 30px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 40px;
  cursor: pointer;
  list-style-type: none;
}
.eventNameBackground {
}
.eventName {
  background-color: var(--accent-color);
  border-radius: 40px;
  width: 80%;
  margin: 0 auto;
  border: 5px double var(--secondary-color);
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
}
.eventName a {
  color: var(--main-color);
  text-align: center;
}
.eventDetails {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}
.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  border: 5px solid var(--secondary-color);
  border-radius: 40px;
}
.eventImageContainer {
}
.eventImageContainer img {
  height: 200px;
}
.eventDetailsContainer {
  width: 100%;
}
.eventInformations {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 22% 22% 56%;
  grid-template-areas:
    "st st pa pa en en"
    "lo lo lo eo eo eo"
    "des des des des des des ";
  text-align: center;
  padding: 5px;
}
.eventStartTime {
  grid-area: st;
}
.eventEndTime {
  grid-area: en;
}
.eventParticipantsCounter {
  grid-area: pa;
}
.eventLocation {
  grid-area: lo;
}
.eventOrganiser {
  grid-area: eo;
}
.eventDescription {
  grid-area: des;
}

.eventButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.eventButtonsContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee Shade";
  color: var(--main-color);
  background-color: var(--secondary-color);
  border-radius: 22px;
  width: 25%;
  height: 50px;
  font-size: 1.5rem;
}
/* MAP  */
.mapElementContainer {
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
.leftMapSide {
  width: 22%;
}
.categoriesNameContainer {
  background-color: var(--accent-color);
  text-align: center;
  padding: 5px 10px;
  border-radius: 40px;
  font-size: 0.8rem;
  font-family: "Rubik";
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 20px;
  color: var(--main-color);
  margin-bottom: 20px;
}
.rightMapSide {
  width: 70%;
  background-color: var(--accent-color);
}

.hidden {
  display:none;
}
@media screen and (max-width: 1000px) {
  /* LANDING PAGE RESPONSIVE */
  .heroLandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .sentenceContainer {
    margin-bottom: 20px;
  }
  .transitionButton {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 670px) {
  .mainTitle {
    font-size: 5em;
    line-height: 100px;
  }
  .welcomeSentence {
    font-size: 1.4rem;
    margin-bottom: 0px;
  }
}
