{% extends "base.html" %}

<!--
    This is the home page of the website.
-->

{% block content %}

<!-- Edit this section -->
<div class="headerContainer">
  <img class="logoHeader" src="../static/images/Logo Party 4 The planet v2.png" alt="Logo Party for the Planet" />
  <h1 class="eventsTitle">Party for the planet</h1>
  <div class="profileContainer">
    <a href=""><i class="fa-solid fa-seedling"></i></a>
    <p>My profile</p>
  </div>
  <div class="switchPages">
    <div class="incomingSwitchContainer">
      <a href="{% url 'events' %}">Incoming</a>
    </div>
    <div class="mapSwitchContainer">
      <a href="{% url 'map' %}">Map</a>
    </div>
    <div class="createSwitchContainer">
      <a href="{% url 'create_event' %}">Create</a>
    </div>
  </div>
</div>

<div class="eventsFiltersContainer">
  <div class="eventsSubtitleBackground">
    <h2 class="eventsSubtitle">Events</h2>
  </div>
  <button class="filterButton">
    <a href="{% url 'events' %}?category=Seminar"
      >Seminar<i class="fa-solid fa-sliders"></i
    ></a>
  </button>
  <button class="filterButton">
    <a href="{% url 'events' %}?category=Clean-up"
      >Clean-up<i class="fa-solid fa-sliders"></i
    ></a>
  </button>
</div>
<div class="eventsContainer">
  <div class="leftSide">
    {% if events %}
    <form method="post" action="{% url 'events' %}">
      {% csrf_token %}
      {% for event in events %}
      <div class="eventContainer eventCard" data-id="{{ event.id }}">
        <div class="eventNameBackground">
          <div class="eventName">
            {{ event }}
          </div>
        </div>
        <div class="eventDetails">
          <p class="eventStart">Start date : {{event.start_datetime}}</p>
          <p class="eventLocation">Location : {{event.location}}</p>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>


  <div class="rightSide">
    <div id="placeholder-image">
      <img src="../static/images/Logo Party 4 The planet.png" alt="" />
    </div>
    <div id="result">
    </div>
  </div>
</div>
{% endif %}

{%endblock%}