{% extends 'base.html' %} 

{% block content %}

{% load static %}

{% include 'header.html' %}

<div class="createTitle">
  <h2>Create Event</h2>
</div>
<form
  class="createEventForm"
  method="POST"
  action=""
  enctype="multipart/form-data"
>
  {% csrf_token %} 
  <ul>
      <label for="title">Title:</label>
      <p>{{ form.title }}</p>
      <label for="description">Description:</label>
      <p>{{ form.description }}</p>
      <label for="category">Category:</label>
      <p>{{ form.category }}</p>
      <label for="start_datetime">Start Date:</label>
      <p>{{ form.start_datetime }}</p>
      <label for="end_datetime">End Date:</label>
      <p>{{ form.end_datetime }}</p>
      <label for="location">Location:</label>
      <p>{{ form.location }}</p>
      <button class="" type="submit">Create Event</button>
  </ul>
 
</form>

  {% endblock %} ```

