{% extends "base.html" %}

<!--
    This is the home page of the website.
-->
{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<!-- Edit this section -->

<div class="eventsFiltersContainer">
  <div class="eventsSubtitleBackground">
    <h2 class="eventsSubtitle">Events</h2>
  </div>
  <div class="filtermenu">
    <button id="dropBtn" onclick="filterMenuOpen()" class="dropbtn">Filters<i class="fa-solid fa-sliders"></i></button>
    <ul id="filterDropdown" class="dropdown-content">
      <li><a id="menutop" href="{% url 'events' %}?">All</a></li>
      {% for category in all_categories %}
      <li><a href="{% url 'events' %}?category={{ category }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>

<div class="eventsContainer">
  <div class="leftSide">
    {% if category %}
      <h3 class="event-category-heading">{{category}}</h3>
    {% else %}
      <h3 class="event-category-heading">All</h3>
    {% endif %}
    {% if events %}
    <form method="post" action="{% url 'events' %}">
      {% csrf_token %} {% for event in events %}
      <div class="eventContainer eventCard" data-id="{{ event.id }}">
        <ul class="eventNameBackground">
          <li class="eventName">{{ event }}</li>
        </ul>
        <div class="eventDetails">  <!-- F = FullMonthName, d = DayOfTheMonth, Y = Four-digit year, H = Two-digit hour (24hr), i = Two-digit minute   -->                                
          <p class="eventStart">Start date: {{ event.start_datetime|date:"F d, Y, H:i" }}</p>
          <p class="eventLocation">Location: {{event.location}}</p>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>

  <div class="rightSide">
    <div id="placeholder-image">
      <img src="../static/images/p4p-no-background-placeholder.png" alt="Logo">
    </div>
    <div id="result"></div>
  </div>
</div>
{% endif %} {%endblock%}
