{% extends 'base.html' %} {% block content %}

<div class="headerContainer">
  <img
    class="logoHeader"
    src="../static/images/Logo Party 4 The planet v2.png"
    alt="Logo Party for the Planet"
  />
  <h1 class="eventsTitle">Party for the planet</h1>
  <div class="profileContainer">
    <a href="{% url 'profile' %}"><i class="fa-solid fa-seedling"></i></a>
    <p>My profile</p>
  </div>
  <div class="switchPages">
    <div class="incomingSwitchContainer">
      <a href="{% url 'events' %}">Incoming</a>
    </div>
    <div class="mapSwitchContainer">
      <a href="{% url 'map' %}">Map</a>
    </div>
    <div class="createSwitchContainer">
      <a href="{% url 'create_event' %}">Create</a>
    </div>
  </div>
</div>
<div class="createTitle">
  <h2>Create Event</h2>
</div>
<form
  class="createEventForm"
  method="POST"
  action=""
  enctype="multipart/form-data"
>
  {% csrf_token %} 
  <ul>

      <label for="organizer">Organizer:</label>
      <p>{{ form.organizer }}</p>
      <label for="title">Title:</label>
      <p>{{ form.title }}</p>
      <label for="description">Description:</label>
      <p>{{ form.description }}</p>
      <label for="category">Category:</label>
      <p>{{ form.category }}</p>
      <label for="start_datetime">Start Date:</label>
      <p>{{ form.start_datetime }}</p>
      <label for="end_datetime">End Date:</label>
      <p>{{ form.end_datetime }}</p>
      <label for="location">Location:</label>
      <p>{{ form.location }}</p>
      <button class="btn" type="submit">Create Event</button>
</ul>
 


  {% endblock %} ```
</form>
