{% extends "base.html" %}

<!--
    This is the home page of the website.
-->

{% block content %}

{% include 'header.html' %}
<!-- Edit this section -->

<div class="eventsFiltersContainer">
  <div class="eventsSubtitleBackground">
    <h2 class="eventsSubtitle">Events</h2>
  </div>

 <!--<a href="{% url 'events' %}?category=Seminar" class="filterButton"> Removed button and styled anchors as buttons
    Seminar<i class="fa-solid fa-sliders"></i>
  </a>
  <a href="{% url 'events' %}?category=Clean-up" class="filterButton"> 
    Clean-up<i class="fa-solid fa-sliders"></i>
  </a>-->



  <div class="filtermenu">
    <button id="dropBtn" onclick="filterMenuOpen()" class="dropbtn">Categories</button>
    <ul id="filterDropdown" class="dropdown-content">
      <li><a id="menutop" href="{% url 'events' %}?category=Seminar">Seminar</a></li>
      <li><a href="{% url 'events' %}?category=Clean-up">Clean-up</a></li>
      <li> <a id="menubottom" href="#contact">More...</a></li>
    </ul>
  </div>

</div>

<div class="eventsContainer">
  <div class="leftSide">
    {% if events %}
    <form method="post" action="{% url 'events' %}">
      {% csrf_token %} {% for event in events %}
      <div class="eventContainer eventCard" data-id="{{ event.id }}">
        <div class="eventNameBackground">
          <li class="eventName">{{ event }}</li>
        </div>
        <div class="eventDetails">
          <p class="eventStart">Start date : {{event.start_datetime}}</p>
          <p class="eventLocation">Location : {{event.location}}</p>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>

  <div class="rightSide">
    <div id="placeholder-image">
      <img src="../static/images/Logo Party 4 The planet.png" alt="" />
    </div>
    <div id="result"></div>
  </div>
</div>
{% endif %} {%endblock%}
