{% extends "base.html" %}

<!--
    This is the home page of the website.
-->

{% block header %}
<nav>
  <ul>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
  </ul>
</nav>
{% endblock header %} {% block content %}
<div class="heroLandingPage">
  <h1 class="mainTitle">Party 4 the Planet</h1>
  <div class="sentenceContainer">
    <p class="welcomeSentence">
      A community-driven, empowering and green social media and more...
    </p>
  </div>
  <img
    class="logo"
    src="../static/images/Logo Party 4 The planet.png"
    alt="Logo Party 4 The Planet"
  />
</div>
<button class="transitionButton">
  <a href="{% url 'events' %}"><i class="fa-solid fa-arrow-down-long"></i></a>
</button>

{%endblock%}
