{% extends "base.html" %}

{% load static %}

<!--
    This is the page for a map.
-->


{% block content %}

{% include 'header.html' %}

{{markers}}

<!-- Edit this section -->

<div class="mapElementContainer">
  <div class="leftMapSide">
    <!-- For All Categories , create a card like the next one. -->
    <div class="categoriesNameContainer">
      <h2>Clean walk</h2>
      <!--This is the categories name variable-->
    </div>
    <div class="categoriesNameContainer">
      <h2>Initiation to beekeeping</h2>
      <!--This is the categories name variable-->
    </div>
    <div class="categoriesNameContainer">
      <h2>Eco-market</h2>
      <!--This is the categories name variable-->
    </div>
  </div>
  
  <div id="map" class="rightMapSide"></div>
  
</div>
{%endblock%}
