{% extends 'base.html' %} 

{% load static %}

{% block content %}

{% include 'header.html' %}

<div class="createTitle">
  <h2>{{request.user}}'s Profile</h2>
</div>
<div class="createEventForm">
  <div>
    <p>Logged in user: {{request.user}}</p>
    <p>First Name: {{request.user.first_name}}</p>
    <p>Last Name: {{request.user.last_name}}</p>
    <p>E-Mail: {{request.user.email}}</p>
    <p>Username: {{request.user.username}}</p>
    <p>Last Login: {{request.user.last_login}}</p>
    <p>Date Joined: {{request.user.date_joined}}</p>
  </div>
  <div>
    <button>
      <a href="{% url 'edit_user' user.id %}">Edit</a>
    </button>
    <button>
      <a href="{% url 'delete_user' user.id %}">Delete</a>
    </button>
  </div>
</div>

{%endblock%}
