{% extends 'base.html' %} {% block content %}

<div class="headerContainer">
  <img
    class="logoHeader"
    src="../static/images/Logo Party 4 The planet v2.png"
    alt="Logo Party for the Planet"
  />
  <h1 class="eventsTitle">Party for the planet</h1>
  <div class="switchPages">
    <div class="incomingSwitchContainer">
      <a href="{% url 'events' %}">Incoming</a>
    </div>
    <div class="mapSwitchContainer">
      <a href="{% url 'map' %}">Map</a>
    </div>
    <div class="createSwitchContainer">
      <a href="{% url 'create_event' %}">Create</a>
    </div>
  </div>
</div>
{%endblock%}
