{% extends 'base.html' %} 

{% load static %}

{% block content %}

{% include 'header.html' %}
<div class="profile">

  <div class="profileTitle">
    <h2>{{request.user}}'s Profile</h2>
  </div>
  <div class="profileInformationsContainer">
    <div class="profileDetailsContainer">
    <p class="profileLogged">Logged in user: {{request.user}}</p>
    <p class="profileFirstName">First Name: {{request.user.first_name}}</p>
    <p class="profileLastName">Last Name: {{request.user.last_name}}</p>
    <p class="profileEmail">E-Mail: {{request.user.email}}</p>
    <p class="profileUsername">Username: {{request.user.username}}</p>
    <p class="profileLastLogin">Last Login: {{request.user.last_login}}</p>
    <p class="profileDateJoined">Date Joined: {{request.user.date_joined}}</p>
  </div>
  <div class="profileButtons">
    <button>
      <a href="{% url 'edit_user' user.id %}">Edit</a>
    </button>
    <button>
      <a href="{% url 'delete_user' user.id %}">Delete</a>
    </button>
  </div>
</div>
</div>

{%endblock%}
